/* ====common css starts ====== */
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
:root {
  --inter: "Inter", serif;
  --Space: "Space Grotesk", serif;
}
/* ====common css ends ====== */

/* ====navber css starts ====== */
nav {
  position: absolute;
  left: 0;
  top: 34px;
  width: 100%;
}
nav .sidebyside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.nav-item {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 60px;
}
nav ul {
  display: contents;
  color: #fff;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
nav ul li {
  position: relative;
}
nav ul li::after {
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -3px;
  content: "";
  background-color: rgba(229, 229, 229, 0.555);
  transition: all linear 0.4s;
}
nav ul li:hover::after {
  width: 100%;
}
nav .nav-logo img {
  width: 131px;
}
nav .nav-logo {
  justify-self: center;
}
nav .nav-btn {
  justify-self: end;
}
nav .nav-btn a {
  color: #fff;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding: 16px 40px;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all linear 0.4s;
}
nav .nav-btn a:hover {
  border: 1px solid rgb(255, 255, 255, 0.4);
}
/* ====navber css ends ====== */

/* ====bnner css starts ====== */
#bnner {
  background: #394792;
  padding-top: 210px;
}
.sidebysied {
  display: grid;
  grid-template-columns: 62% 38%;
}

#bnner h1 {
  color: #fff;
  font-family: var(--Space);
  font-size: 64px;
  font-weight: 500;
  line-height: 120%;
  max-width: 734px;
  margin-bottom: 32px;
  position: relative;
}
h1 .shaep1 {
  position: absolute;
  bottom: -12px;
  right: 27px;
}
h1 .Arrow_1 {
  position: absolute;
  top: 0px;
  right: -120px;
}
#bnner p {
  color: #fff;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  max-width: 615px;
  margin-bottom: 40px;
}
#bnner .bnner_btn a {
  display: inline-block;
  color: #fff;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-right: 24px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 18px 32px;
  transition: all linear 0.4s;
}
#bnner .bnner_btn a:hover {
  color: #394792;
  background: #fff;
  border: 1px solid transparent;
}
#bnner .bnner_list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 86px);
  column-gap: 80px;
}
#bnner .bnner_items {
  position: relative;
}
#bnner .bnner_items::after {
  content: "";
  width: 2px;
  height: 60.5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.16);
  top: 20px;
  right: -40px;
}
#bnner .bnner_items:last-child::after {
  background-color: transparent;
}
#bnner .bnner_items h3 {
  color: #fff;
  font-family: var(--Space);
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}
#bnner .bnner_items p {
  color: rgb(255, 255, 255, 0.8);
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

#bnner .bnner_right img {
  max-width: 653px;
  position: relative;
  left: -40px;
}

/* ====bnner css ends ====== */

/* ====management css starts ====== */
#management {
  margin-top: 100px;
  margin-bottom: 100px;
}
#management h2 {
  color: #232323;
  text-align: center;
  font-family: var(--Space);
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 64px;
  position: relative;
}
#management h2 .shaep_2 {
  position: absolute;
  right: 269px;
  top: 45px;
}
.sidebyside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
}
.management_box h3 {
  color: #232323;
  font-family: var(--Space);
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  max-width: 410px;
  margin-bottom: 16px;
  margin-top: 24px;
}
.management_box p {
  color: #757575;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  max-width: 410px;
}
/* ====management css ends ====== */

/* ====others css starts ====== */
#others {
  padding-top: 100px;
  margin-bottom: 90px;
}
#others .sidebyside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 117px;
}
#others .left img {
  width: 590px;
}
#others .right h2 {
  color: #232323;
  font-family: var(--Space);
  font-size: 46px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 24px;
  max-width: 500px;
  position: relative;
}
#others .right h2 img {
  width: 222px;
  position: absolute;
  top: 43px;
  right: 0;
}
#others .right > p {
  color: rgb(35, 35, 35, 0.8);
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  max-width: 500px;
  margin-bottom: 32px;
}
.others-item {
  display: grid;
  row-gap: 24px;
}
.others-item .others-box {
  display: grid;
  grid-template-columns: 44px 100%;
  align-items: center;
  column-gap: 16px;
  grid-template-columns: repeat(2, fr);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(35, 35, 35, 0.16);
  background: #fff;
}
.others-box img {
  width: 44px;
}
.others-box h4 {
  color: #000;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 170%;
}
/* ====others css ends ====== */

/* ====users css starts ====== */
#users {
  background: #f9faff;
  padding-top: 100px;
  padding-bottom: 178px;
}
.users_header {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.users_head_content h2 {
  color: #232323;
  font-family: var(--Space);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 32px;
  position: relative;
}
.users_head_content h2 img {
  position: absolute;
  top: 45px;
  right: 275px;
}
.users_head_content p {
  color: #232323;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  max-width: 558px;
}

.users_head_arow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  align-content: end;
  justify-self: end;
}
.users_head_arow i {
  font-size: 24px;
  color: #757575;
  padding: 24px;
  border-radius: 49px;
  background-color: rgb(50, 91, 151, 0.1);
  transition: all linear.4s;
}
.users_head_arow i:hover {
  color: #fff;
  background-color: #325b97;
}
.users_content {
  display: grid;
  grid-template-columns: repeat(2, 592px);
  column-gap: 24px;
}
.users_box {
  border-radius: 32px;
  background: #fff;
  padding: 48px;
  margin-top: 64px;
}
.users_box h3 {
  color: #000;
  font-family: var(--inter);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  display: grid;
  grid-template-columns: repeat(2, 44%);
  margin-bottom: 24px;
}
.users_box:first-child h3 {
  width: 85%;
}
.users_box h3 .head_svg {
  font-size: 18px;
  color: #ffc236;
  justify-self: start;
  align-content: center;
}
.users_box p {
  color: #757575;
  font-family: var(--inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  max-width: 570px;
  position: relative;
  margin-bottom: 48px;
}
.users_box p::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(35, 35, 35, 0.16);
  position: absolute;
  left: 0;
  bottom: -24px;
}
.users_box_name {
  display: grid;
  grid-template-columns: 17% 80%;
  align-items: center;
}
.users_box_img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.users_box_text h4 {
  color: #232323;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
.users_box_text h6 {
  color: #757575;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

/* ====users css ends ====== */

/* ====priching css starts ====== */
#priching {
  margin: 100px 0;
}
#priching h2 {
  color: #232323;
  font-family: var(--Space);
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 32px;
}
#priching p {
  color: rgb(35, 35, 35, 0.8);
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
  margin: 0 auto;
}
#priching .priching_content {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
}
#priching .priching_box {
  border-radius: 32px;
  border: 1px solid rgba(35, 35, 35, 0.16);
  background: #fff;
  padding: 32px;
  transition: all linear.4s;
}
#priching .priching_box:hover {
  background: #325b97;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.16);
}
#priching .priching_box h3 {
  color: #232323;
  font-family: var(--Space);
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  border-radius: 30px;
  border: 1px solid rgba(35, 35, 35, 0.16);
  padding: 6px 24px 6px 20px;
  margin-bottom: 28px;
  transition: all linear.4s;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 16px;
  justify-content: start;
}
#priching .priching_box:hover h3 {
  color: #fff;
  border: 1px solid rgb(255, 255, 255,.5);
}
#priching .priching_box h3 i {
  font-size: 25px;
  color: #232323;
  transition: all linear.4s;
}
#priching .priching_box:hover h3 i {
  color: #fff;
}
#priching .priching_box h4 {
  color: #232323;
  font-family: var(--Space);
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 16px;
  transition: all linear.4s;
}
#priching .priching_box:hover h4 {
  color: #fff;
}
#priching .priching_box h4 span {
  color: #757575;
  text-align: center;
  font-family: var(--inter);
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  margin-left: -6px;
  transition: all linear.4s;
}
#priching .priching_box:hover h4 span {
  color: rgb(255, 255, 255, 0.5);
}
#priching .priching_box h6 {
  color: #757575;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 41px;
  transition: all linear.4s;
}
#priching .priching_box:hover h6 {
  color: rgb(255, 255, 255, 0.5);
}
#priching .priching_box ul {
  display: grid;
  row-gap: 16px;
  margin-bottom: 32px;
}
#priching .priching_box ul li {
  color: #232323;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  align-content: center;
  transition: all linear.4s;
}
#priching .priching_box:hover ul li {
  color: #fff;
}
#priching .priching_box ul li i {
  color: #155cb5;
  margin-right: 16px;
  transition: all linear.4s;
}
#priching .priching_box:hover ul li i {
  color: #fff;
}
#priching .priching_box:first-child ul li:nth-child(4) {
  color: #8e8e8e;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
#priching .priching_box:first-child ul li:nth-child(5) {
  color: #8e8e8e;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

#priching .priching_box:first-child ul li:nth-child(4) i {
  color: #8e8e8e;
}
#priching .priching_box:first-child ul li:nth-child(5) i {
  color: #8e8e8e;
}
#priching .priching_box a {
  color: #fff;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  display: inline-block;
  padding: 16px 50px;
  border-radius: 100px;
  background: #325b97;
  transition: all linear.4s;
}
#priching .priching_box:hover a {
  color: #325b97;
  background-color: #fff;
}

/* ====priching css ends ====== */

/* ====empoly css starts ====== */
#employ {
  margin: 100px 0;
}
.empoly_box {
  width: 1200px;
  border-radius: 32px;
  background: linear-gradient(112deg, #394792 -0.65%, #070f39 107.76%);
}
.empoly_content {
  padding-top: 100px;
  padding-left: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.empoly_text h2 {
  color: #fff;
  font-family: var(--Space);
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  max-width: 485px;
  margin-bottom: 24px;
  position: relative;
}
.empoly_text h2 img {
  position: absolute;
  bottom: -70px;
  right: 145px;
}
.empoly_text a {
  color: #394792;
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding: 18px 32px;
  border-radius: 30px;
  background: #fff;
}
.empoly_images {
  width: 592px;
  height: 320px;
  border-radius: 30px 0px 30px 0px;
  background: #d9d9d9;
}

/* ====empoly css ends ====== */

/* ====footer css starts ====== */
footer {
  margin: 100px 0;
}
.footer_content {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 100px;
  position: relative;
  margin-bottom: 64px;
}
.footer_content::after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  background-color: rgba(18, 18, 18, 0.16);
}
.footer_left h2 {
  color: #325b97;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 24px;
}
.footer_right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer_right ul li {
  color: rgba(35, 35, 35, 0.7);
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.footer_right ul li:first-child {
  color: #232323;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}
.footer_right ul li:last-child {
  margin-bottom: 0px;
}
.footer_copy {
  color: rgb(35, 35, 35, 0.5);
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
}
/* ====footer css ends ====== */
