/* ====common css starts ====== */
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
:root {
  --inter: "Inter", serif;
  --Space: "Space Grotesk", serif;
}
/* ====common css ends ====== */

